body {
    margin: 0;
    background-color: #F5DEB3;
    padding: 0 auto;
    font-family: "Roboto Slab", serif;
}


header {
    padding-left: 15%;
    height: 75px;
    background-color: #EBA43F;
}

img.logo {
    padding-top: 10px;
    margin: 0;
    width: 67px;
    height: 56px;
}

main {
    margin: 75px;
    display: flex;
    justify-content: center;
}

.tituloContainer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 25px;
}

.box {
    background-color: #EBA43F;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

form {
    border-radius: 30px;
    background-color: #F5DEB3;
    width: 247px;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.boxForm {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 23px;
}

.boxForm label {
    max-width: 40px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.boxForm input {
    height: 29px;
    margin-bottom: 20px;
    width: 145px;
    height: 15px;
}

.boxForm button {
    align-self: center;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EBA43F;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 40px;
}

.boxForm button:hover{
    background-color: white;
    color:green;
}


.containerResultado {
    display: none;
    background-color: #F5DEB3;
    width: 576px;
    height: 294px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 30px;
}

.containerConteudo {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 5%;
}

.containerItemQuantidade {
    display: flex;
    justify-content: space-between;;
    line-height: 8pt;
    font-size: 15px;
    font-weight: 800;
    margin-top: 30px;
}

.tituloResultado {
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
}

.items {
    margin-left: 100px;
}

.quantidade {
    margin-right: 100px;
}

footer{
    margin-top: 150px;
    height: 143px;
    background-color: #EBA43F;
}

footer{
    display: flex;
    padding-left: 200px;
}

footer img{
    padding: 25px;
    width: 41px;
    height: 41px;
}

footer p{
    padding-top: 18px;
}

@media (max-width: 600px) {
    main {
        flex-direction: column; /* Alinha os elementos em uma coluna */
    }

    .containerPrincipal{
        display: flex;
    }

    .tituloContainer {
        font-size: 12px;
    }

    .box {
        width: 400px;
        display: flex;
        margin-top: 20px; /* Adiciona um espaço entre o formulário e o box */
        flex-direction: column;      /* Faz o box ocupar toda a largura disponível */
    }

    form {
            border-radius: 27px;
            background-color: #F5DEB3;
            width: 150px;
            padding: 14px;
            padding-right: 14px;
            box-sizing: border-box;
        }
        
        .boxForm {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            padding-top: 18px;
        }
        
        .boxForm label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 4.5px;
        }
        
        .boxForm input {
            height: 26px;
            margin-bottom: 18px;
            width: 75px;
            height: 12px;
        }
        
        .boxForm button {
            align-self: center;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            background-color: #EBA43F;
            border-radius: 27px;
            cursor: pointer;
            margin-right: 20px;
        }
        
        .boxForm button:hover{
            background-color: white;
            color:green;
        }
        
        
        .containerResultado {
            display: none;
            background-color: #F5DEB3;
            width: 200px;
            height: 294px;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 30px;
            margin-left: 30px;
        }
        
        .containerConteudo {
            display: flex;
            justify-content: flex-start;
            padding-top: 25px;
            padding-left: 5%;
        }
        
        .containerItemQuantidade {
            display: flex;
            justify-content: space-between;;
            line-height: 8pt;
            font-size: 10px;
            font-weight: 800;
            
        }
        
        .tituloResultado {
            margin-left: 10px;
            font-weight: 500;
            font-size: 8px;
        }
        
        .items {
            margin-left: 0px;
        }
        
        .quantidade {
            margin-right: 0px;
        }
        
        footer{
            margin-top: 20px;
            height: 100px;
            background-color: #EBA43F;
        }
        
        footer{
            display: flex;
            padding-left: 0px;
        }
        
        footer img{
            padding: 25px;
            width: 41px;
            height: 41px;
        }
        
        footer p{
            padding-top: 18px;
        }
    }