body {
    margin: 0;
    background-color: #F5DEB3;
    padding: 0 auto;
    font-family: "Roboto Slab", serif;
}


header {
    padding-left: 15%;
    height: 75px;
    background-color: #EBA43F;
}

img.logo {
    padding-top: 10px;
    margin: 0;
    width: 67px;
    height: 56px;
}

main {
    margin: 75px;
    display: flex;
    justify-content: center;
}

.tituloContainer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 25px;
}

.box {
    background-color: #EBA43F;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

form {
    border-radius: 30px;
    background-color: #F5DEB3;
    width: 247px;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.boxForm {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 23px;
}

.boxForm label {
    max-width: 40px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.boxForm input {
    height: 29px;
    margin-bottom: 20px;
    width: 145px;
    height: 15px;
}

.boxForm button {
    align-self: center;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EBA43F;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 40px;
}

.boxForm button:hover{
    background-color: white;
    color:green;
}


.containerResultado {
    display: none;
    background-color: #F5DEB3;
    width: 576px;
    height: 294px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 30px;
}

.containerConteudo {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 5%;
}

.containerItemQuantidade {
    display: flex;
    justify-content: space-between;;
    line-height: 8pt;
    font-size: 15px;
    font-weight: 800;
    margin-top: 30px;
}

.tituloResultado {
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
}

.items {
    margin-left: 100px;
}

.quantidade {
    margin-right: 100px;
}

footer{
    margin-top: 150px;
    height: 143px;
    background-color: #EBA43F;
}

footer{
    display: flex;
    padding-left: 200px;
}

footer img{
    padding: 25px;
    width: 41px;
    height: 41px;
}

footer p{
    padding-top: 18px;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    img.logo {
        width: 57px;
        height: 47px;
    }

    .tituloContainer {
        font-size: 12px;
    }

    .box {
        width: 400px;
        display: flex;
        margin-top: 20px; 
        flex-direction: column;      
    }

    form {
            width: 150px;
            padding: 14px;
            padding-right: 14px;
        }
        
        .boxForm {
            padding-left: 16px;
            padding-top: 18px;
        }
        
        .boxForm label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 4.5px;
        }
        
        .boxForm input {
            height: 26px;
            margin-bottom: 18px;
            width: 75px;
            height: 12px;
        }
        
        .boxForm button {
            padding: 3px 7px;
            font-size: 12px;
            margin-right: 17px;
        }
        
        .containerResultado {
            width: 200px;
            height: 250px;
            padding: 10px;
            margin-left: 30px;
        }
        
        .containerConteudo {
            padding-top: 25px;
            padding-left: 5%;
        }
        
        .containerItemQuantidade {
            font-size: 10px;            
        }
        
        .tituloResultado {
            margin-left: 10px;
            font-size: 8px;
        }
        
        .items {
            margin-left: 0px;
        }
        
        .quantidade {
            margin-right: 0px;
        }
        
        footer{
            margin-top: 20px;
            height: 50px;
            padding-left: 30px;
            height: 87px;
        }
        
        
        footer img{
            padding: 25px;
            width: 30px;
            height: 30px;
        }
        
        footer p{
            padding-top: 18px;
            font-size: 14px;
        }
    }

@media(max-width: 400px){
    img.logo {
        margin-top: 8px;
        width: 35px;
        height: 35px;
    }

    .tituloContainer {
        font-size: 10px;
    }

    .box {
        width: 300px;     
    }

    form {
            width: 100px;
            padding: 7px;
        }
        
        .boxForm {
            padding-left: 16px;
            padding-top: 18px;
        }
        
        .boxForm label {
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 2.5px;
        }
        
        .boxForm input {
            height: 26px;
            margin-bottom: 18px;
            width: 45px;
            height: 10px;
        }
        
        .boxForm button {
            padding: 2px 5px;
            font-size: 10px;
        }
        
        .containerResultado {
            width: 130px;
            height: 250px;
            padding: 10px;
        }
        
        .containerConteudo {
            padding-top: 0px;
            padding-left: 5%;
        }
        
        .containerItemQuantidade {
            font-size: 10px;            
        }
        
        .tituloResultado {
            margin-left: 4px;
            font-size: 7px;
        }
        
        .items  {
            margin-left: 0px;
            font-size: 10px;
        }
        
        .quantidade h3  {
            font-size: 10px;
        }
        
        .quantidade p{
            padding-top: 4px;
            padding-left: 6px;
            line-height: 10px;
        }
        
        footer{
            margin-top: 20px;
            height: 50px;
            padding-left: 30px;
            height: 72px;
        }
        
        
        footer img{
            padding: 25px;
            width: 20px;
            height: 20px;
        }
        
        footer p{
            padding-top: 15px;
            font-size: 12px;
        }
}